{% load static %}
<!DOCTYPE html>
<html lang="AR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>game of mix</title>
    <link rel="stylesheet" href="{% static 'game/css/game of mix.css' %}">
    <link rel="stylesheet" href="{% static 'game/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'game/css/fontawesome.min.css' %}">
    
</head>
<body style = "background-image:url('{% static 'game/image/background.png' %}');">


<section class="page-game">
    <h1>لعبة ميكس</h1>
    <div class="play">
        
        <button><a href="{% url 'game' %}"><i class="fa-solid fa-play"></i> </a></button>
        
        
    </div>
    <div class="comment">

        <button><a href="{% url 'instructions' %}"> التعليمات</a></button>

    </div>
    
</section>

<footer>

    <h1> &copy;copyright by: Sn0opy</h1> 

</footer>

</body>
</html>